<!-- <app-header></app-header>
<app-menu></app-menu>
<app-content></app-content>
<app-footer></app-footer> -->

<div class="container-fluid">
    <div class="row">
      <div class="col">
        <nav class="navbar navbar-light bg-light">
          <a class="navbar-brand" href="#">Navbar</a>
       </nav>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-2">
        <div class="links p-1">
            <!-- <button routerLink="/" routerLinkActive="btn-primary" class="btn btn-outline w-100 mb-1">HOME</button> -->
            <button routerLink="/book" routerLinkActive="btn-primary" class="btn btn-outline w-100 mb-1">BOOK</button>
            <button routerLink="/table" routerLinkActive="btn-primary" class="btn btn-outline w-100 mb-1">TABLE</button>
            <button routerLink="/product" routerLinkActive="btn-primary" class="btn btn-outline w-100 mb-1">Products</button>
        </div>
      </div>
      <div class="col-10">
        <router-outlet></router-outlet>
      </div>
    </div>
    </div>
  
<!-- <table class="table table-striped">
    <tr>
        <th>index</th>
        <th>Name</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Ivan</td>
    </tr>
</table> -->