<div clas="container-fluid">
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#">Navbar</a>
            </nav>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-2">
            <div class="links">
                <button  routerLink="/" routerLinkActive="btn-primary" class="btn btn-outline w-100 mb-1 ">HOME</button>
                <button  routerLink="/book" routerLinkActive="btn-primary" class="btn btn-outline w-100">BOOK</button>
                <button  routerLink="/table" routerLinkActive="btn-primary" class="btn btn-outline w-100">TABLE</button>
            </div>
        </div>
        <div class="col-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>


<!-- <app-header></app-header>
<div class="row">
    <div class="col-3">
        <app-menu></app-menu>
    </div>
    <div class="col-9">
        <app-content></app-content>
    </div>
</div>
<app-footer></app-footer> -->
<!-- <table class="table table-striped">
    <tr>
        <th>index</th>
        <th>name</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Ivan</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Ivan</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Ivan</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Ivan</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Ivan</td>
    </tr>
</table> -->