

<div class="container">
    <div class="row">

        <div class="col-9">
            <table class="table table-striped">
                <tr>
                    <th>name</th>
                    <th>price</th>
                </tr>
                <tr *ngFor="let product of productList" (dblclick)="detailed(product.id)" [class.active]="product.id === currentId">
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                </tr>
            </table>
        </div>

        <div class="col-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

